
            <div class="fxt-main-form">
                <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">
                    <h2 class="fxt-page-title">Reset Password</h2>
                    <p class="fxt-description">Enter the email address or mobile number associated with your account.
                    </p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email" class="fxt-label">Email</label>
                            <input type="email" formControlName="email" id="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form.get('email')?.errors }" />
                            <div *ngIf="submitted && form.get('email')?.errors" class="invalid-feedback">
                                <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                                <div *ngIf="form.get('email')?.errors?.['email']">Invalid email format</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="fxt-btn-fill">Continue</button>
                        </div>
                    </form>
                    
                    
                    <div class="fxt-switcher-description">Return to?<a routerLink="/auth/login"
                            class="fxt-switcher-text ms-1">Log in</a></div>

                            
                </div>
            </div>
  