<div class="card p-7 rounded-1 mb25">
    <table *ngIf="carburants && carburants.length > 0"class="table table-success table-striped">
      <!-- En-tête du tableau -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Réservation ID</th>
          <th>Kilométrage Début</th>
          <th>Kilométrage Fin</th>
          <th>Quantité Carburant Utilisée</th>
          <th>Carburant Consommé</th>
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>
        <tr *ngFor="let carburant of carburants">
          <!-- Données de carburant -->
          <td>{{ carburant.id }}</td>
          <td (click)="openReservationModal(carburant.reservation_id)">{{ carburant.reservation_id }}</td>
          <td>{{ carburant.kilometrageDebut }}</td>
          <td>{{ carburant.kilometrageFin }}</td>
          <td>{{ carburant.quantiteCarburantUtiliser.toFixed(2) }}</td>
          <td>{{ carburant.carburantConsome.toFixed(2) }}</td>
          <td>{{ carburant.vehicleId }}</td>

        </tr>
      </tbody>
    </table>
    <!-- Message si aucun carburant n'est trouvé -->
    <p class="text-center" *ngIf="!carburants || carburants.length === 0">Aucun carburant trouvé</p>
  </div>
  