<div class="container" *ngIf="!authResponse.mfaEnabled">
    <div class="success-message-panel" *ngIf="message">
   
      <div class="success-icon">&#10004;</div>
      <div class="success-message">{{message}}</div>
    </div>
    <img src="assets/logos/reset-password-icon.png" class="user-icon">
    <h2>Register</h2>
    <form (ngSubmit)="registerUser()" [formGroup]="monForm">
      <div class="form-group">
        <label for="firstname">First name </label>
        <div class="input-container">
          <i class="fas fa-user input-icon"></i>
          
        </div>
        <input
          id="firstname"
          name="firstname"
          required type="text"
          formControlName="firstname"
          required>
         
        </div>
          

        <div class="form-group">
          <label for="lastname">last name </label>
          <div class="input-container">
            <i class="fas fa-user input-icon"></i>
            
          </div>
          <input
            id="lastname"
            name="lastname"
            required type="text"
            formControlName="lastname"
            required>
           
          </div>
            
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          required type="text"
          formControlName="email">
      
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          required type="password"
          formControlName="password">
      </div>

     <!---- <div class="form-group">
        <label for="Role">Role</label>
        <input
          id="Role"
          name="role"
          required type="text"
          formControlName="Role">
      </div> --->




   <div class="form-group">
        <label for="role_id" >Role</label>
        <select id="role"  name="role" formControlName="role" required  >
          <option value="" disabled selected>Choisissez un rôle</option>
          <option value="ADMIN" name="ADMINE">ADMIN</option>
          <option value="MANAGER" name="MANAGER"> MANAGER</option>
          <option value="RH" name="RH">RH</option>
          <option value="CONDUCTEUR"name="CONDUCTEUR">CONDUCTEUR</option>
        </select>
       <!---<div *ngIf="monForm.get('role')?.errors?.required && monForm.get('role')?.touched" class="invalid-feedback">
          Le rôle est requis.
        </div>----->
       </div>
        
        
          
     
      <div class="form-group">
        <input
          id="rememberMe"
          name="rememberMe"
          type="checkbox"
          formControlName="mfaEnabled"
        >
        <label for="rememberMe">Enable 2FA (Two Factors Authentication)</label>
      </div>
      <button type="submit">Register</button>
      <a routerLink="/login">Login</a>
    </form>
  </div>
  
  <div class="container" *ngIf="authResponse.mfaEnabled">
  
    <div class="success-message-panel" *ngIf="message">
      <div class="success-icon">&#10004;</div>
      <div class="success-message">{{message}}</div>
    </div>
  
    <h2>Set Up Two-Factor Authentication</h2>
    <div class="qr-code">
      <img [src]="authResponse.secretImageUri" alt="QR Code">
    </div>
    <div class="form-group">
      <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
      <input
        type="text"
        id="validationCode"
        name="validationCode"
        required
        [(ngModel)]="otpCode"
      >
    </div>
    <button
      type="button"
      (click)="verifyTfa()"
      [class.button-disabled]="otpCode.length < 6"
    >Verify code</button>
  </div>