<div class="card p-4 rounded-5 mb25">
  <div class="table-responsive">
    <table *ngIf="reservations && reservations.length > 0" class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Conducteur</th>
          <th>Chef département</th>


          <th>Véhicule</th>

          <th>Statut</th>
          <th>Mission</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.user.username }}</td>
          <td>{{ reservation.connectedUserName?.username }}</td>


          <td>{{ reservation.vehicle.marque }} {{ reservation.vehicle.modele }}</td>

          <td>
            {{ reservation.status === true ? 'Accepted' : (reservation.status === false ? 'Refused' : 'En cours') }}
          </td>
          <td>{{ reservation.mission }}</td>
          <td>
            <ng-container *ngIf="reservation.status === null">
              <button mat-icon-button color="primary" (click)="confirmAcceptReservation(reservation)">
                <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="confirmRejectReservation(reservation)">
                <mat-icon>clear</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="reservation.status === true">
              <button mat-icon-button color="primary" disabled>
                <mat-icon>check</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="reservation.status === false">
              <button mat-icon-button color="warn" disabled>
                <mat-icon>clear</mat-icon>
              </button>
            </ng-container>
            <button mat-icon-button color="primary" (click)="openDetailsModal(reservation)">
              <mat-icon>visibility</mat-icon> <!-- Use the appropriate icon for details -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!(reservations && reservations.length > 0)" class="text-center mt-4">
      <p>Aucune réservation trouvée.</p>
    </div>
  </div>
</div>