<h2 mat-dialog-title>Reservations Details</h2>
<div mat-dialog-content>
  <p>ID: {{ reservation.id }}</p>
  <p>Vehicle ID: {{ reservation.vehicle.id }}</p>
  <p>Marque: {{ reservation.vehicle.marque }}</p>
  <p>Modèle: {{ reservation.vehicle.modele }}</p>
  <p>Conducteur: {{ reservation.user.username }}</p>
  <p>Start Date: {{ reservation.startDate }}</p>
  <p>End Date: {{ reservation.endDate }}</p>
  <p>Mission: {{ reservation.mission }}</p>
  <p>Chef département: {{ reservation.connectedUserName?.username }}</p>
  <p>Destination: {{ reservation.distiantion }}</p>
  <p>Accompagnateur: {{ reservation.accompagnateur }}</p>
  <p>Montant: {{ reservation.montant }}</p>
  <p>Status Reservation: {{ reservation.statusReservation }}</p>
  <!-- Ajoutez d'autres détails ici au besoin -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>
