<div class="card p-4  rounded-5">
    <div class="row">
        <div class="col-lg-12">
            <form (ngSubmit)="updateProfile()" #updateForm="ngForm" enctype="multipart/form-data">
                <div class="de_tab tab_simple">
                    <ul class="de_nav">
                        <li class="active"><span>Profil</span></li>
                    </ul>
                    <div class="de_tab_content">                            
                        <div class="tab-1">
                            <div class="row">
                                <div class="col-lg-6 mb20">
                                    <h5>Nom d'utilisateur</h5>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="Entrez le nom d'utilisateur" [(ngModel)]="userName" readonly/>
                                </div>
                                <div class="col-lg-6 mb20">
                                    <h5>Adresse e-mail</h5>
                                    <input type="text" name="email_address" id="email_address" class="form-control" placeholder="Entrez l'e-mail" [(ngModel)]="email" />
                                </div>
                                <div class="col-md-6 mb20">
                                    <h5>Prénom</h5>
                                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Entrez le prénom" [(ngModel)]="firstName" />
                                </div>
                                <div class="col-md-6 mb20">
                                    <h5>Nom de famille</h5>
                                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Entrez le nom de famille" [(ngModel)]="lastName" />
                                </div>
                                <div class="col-md-6 mb20">
                                    <h5>Image de profil</h5>
                                    <input type="file" name="image" id="image" class="form-control" (change)="onFileSelected($event)" />
                                </div>
                                <div class="col-md-6 mb20">
                                    <h5>Rôle</h5>
                                    <input type="text" name="role" id="role" class="form-control" placeholder="Entrez le rôle" [(ngModel)]="role" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="tab-2">
                            <div class="row">
                                <!-- Ajoutez ici des paramètres supplémentaires si nécessaire -->
                            </div>
                        </div>

                        
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Mettre à jour le profil</button>
            </form>
            <br>

            <div class="row">
                    <div class="col-lg-12">
                        <div class="row" *ngIf="!isAdmin && (role === 'CHEF_DEPARTEMENT' || role === 'CONDUCTEUR')">
                            <!-- Show the button only if the user is not an admin and has role CHEF_DEPARTEMENT or CONDUCTEUR -->
                            <button class="btn btn-danger float-end" (click)="deleteAccount()">Supprimer le compte</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
