<div id="preloader" class="preloader">
    <div class='inner'>
        <div class='line1'></div>
        <div class='line2'></div>
        <div class='line3'></div>
    </div>
</div>
<section class="fxt-template-animation fxt-template-layout33">
    <div class="fxt-content-wrap">
        <div class="fxt-heading-content">
            <div class="fxt-inner-wrap fxt-transformX-R-50 fxt-transition-delay-3">
                <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                    <a href="login-33.html" class="fxt-logo"><img
                        src="assets/OTH000_3855501c-446d-4508-9450-62022cf9589f_b.jpg" alt="Logo"></a>                </div>
                <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                  
                </div>
                <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                </div>
            </div>
        </div>
        <div class="fxt-form-content">

        <router-outlet></router-outlet>
        </div>
    </div>
</section>