<div class="fxt-main-form">
    <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">
        <h2 class="fxt-page-title">Log In</h2>
        <p class="fxt-description">Log In to try our amazing servuces</p>
        <form (submit)="loginUser()">
            <div class="form-group">
                <label for="email" class="fxt-label">Email Address</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Enter your email" required
                    [(ngModel)]="user.username">
            </div>
            <div class="form-group">
                <label for="password" class="fxt-label">Password</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Enter Password"
                    required [(ngModel)]="user.password">
            </div>
            <div class="form-group">
                <a routerLink="/auth/frogetpassword" class="fxt-switcher-text">Forgot Password</a>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="fxt-btn-fill">Log in</button>
            </div>
        </form>
        <div class="fxt-divider-text">OR</div>
        <div id="fxt-login-option" class="fxt-login-option">
            <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                <div class="fxt-switcher-description">Don't have an account?<a routerLink="/auth/register"
                        class="fxt-switcher-text">Register</a></div>
            </div>
        </div>
    </div>

</div>