<div class="fxt-main-form">
    <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">
        <h2 class="fxt-page-title">Connexion</h2>
        <p class="fxt-description">Connectez-vous pour essayer nos incroyables services</p>
        <form (submit)="loginUser()">
            <div class="form-group">
                <label for="email" class="fxt-label">Nom d'utilisateur</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Entrez votre adresse e-mail" required
                    [(ngModel)]="user.username">
            </div>
            <div class="form-group">
                <label for="password" class="fxt-label">Mot de passe</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Entrez votre mot de passe"
                    required [(ngModel)]="user.password">
            </div>
            <div class="form-group">
                <a routerLink="/auth/frogetpassword" class="fxt-switcher-text">Mot de passe oublié</a>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="fxt-btn-fill">Se connecter</button>
            </div>
        </form>
        <div class="fxt-divider-text">OU</div>
        <div id="fxt-login-option" class="fxt-login-option">
            <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                <div class="fxt-switcher-description">Vous n'avez pas de compte ? <a routerLink="/auth/register"
                        class="fxt-switcher-text">S'inscrire</a></div>
            </div>
        </div>
    </div>
</div>
