.avatar-placeholder {
    width: 60px; // Adjust the width and height as needed
    height: 60px;
    background-color: #ccc; // Set the background color
    border-radius: 50%; // Make it circular
    display: flex;
    justify-content: center; // Center the text horizontally
    align-items: center; // Center the text vertically
    font-size: 24px; // Adjust the font size as needed
    color: #fff; // Set the text color
  }
  