<div class='demo-app'>

    <!-- Sidebar -->
    <div class='demo-app-sidebar'>
        <!-- Instructions -->


        <!-- Toggle Calendar -->
        <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarVisible' (change)='handleCalendarToggle()' />
                toggle whole calendar
            </label>
        </div>

        <!-- Toggle Weekends -->
        <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
                toggle weekends
            </label>
        </div>

        <!-- Events List -->
        <div class='demo-app-sidebar-section'>
            <h2>All Events ({{ currentEvents . length }})</h2>
            <ul>
                <li *ngFor='let event of currentEvents'>
                    <b>{{ event . startStr }}</b>
                    <i>{{ event . title }}</i>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main Content -->
    <div class='demo-app-main'>
        <!-- FullCalendar -->
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
                <b>{{ arg . timeText }}</b>
                <i>{{ arg . event . title }}</i>
            </ng-template>
        </full-calendar>

        <!-- Modal -->
        <!-- Modal -->
        <div class="modal" id="calendarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Réserver</h5>
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #reservationForm="ngForm" (ngSubmit)="saveReservation(reservationForm)">
                            <div class="form-group">
                                <label for="vehicleSelect">Voiture</label>
                                <div class="select-wrapper">
                                    <select class="form-control" id="vehicleSelect" [(ngModel)]="selectedVehicleId"
                                        name="selectedVehicleId" required>
                                        <option *ngFor="let vehicle of unavailableVehicles" [value]="vehicle.id">
                                            {{ vehicle . marque }} - {{ vehicle . modele }}
                                        </option>
                                    </select>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startDate">Date début</label>
                                <input type="datetime-local" class="form-control" id="startDate"
                                    [(ngModel)]="reservation.startDate" name="startDate" required>
                            </div>
                            <div class="form-group">
                                <label for="endDate">Date fin</label>
                                <input type="datetime-local" class="form-control" id="endDate"
                                    [(ngModel)]="reservation.endDate" name="endDate" required>
                            </div>
                            <div class="form-group">
                                <label for="userSelect">Conducteur</label>
                                <div class="select-wrapper">
                                    <select class="form-control" id="userSelect" [(ngModel)]="selectedUserId"
                                        name="selectedUserId" required>
                                        <option *ngFor="let user of conducteurUsers" [ngValue]="user.id">
                                            {{ user . firstName }} {{ user . lastName }} ({{ user . username }})
                                        </option>
                                    </select>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mission">Mission</label>
                                <textarea class="form-control" id="mission" rows="3" [(ngModel)]="reservation.mission" name="mission" required></textarea>
                            </div>
                            <div class="modal-footer">

                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <!-- Button to trigger modal -->

    </div>

</div>
