<div class='demo-app'>

    <!-- Sidebar -->
   <!-- Sidebar -->
<div class='demo-app-sidebar'>
    <!-- Instructions -->
    <!-- Toggle Calendar -->
    <!-- <div class='demo-app-sidebar-section'>
        <label>
            <input type='checkbox' [checked]='calendarVisible' (change)='handleCalendarToggle()' />
            toggle whole calendar
        </label>
    </div> -->

    <!-- Toggle Weekends -->
    <!-- <div class='demo-app-sidebar-section'>
        <label>
            <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
            toggle weekends
        </label>
    </div> -->

    <!-- Reservation Sections Container -->
    <div class="reservation-sections">
        <!-- Total Reservations -->
        <div class='demo-app-sidebar-section total-reservations'>
            <h2>Total Reservations: {{ currentEvents.length }}</h2>
        </div>
    
        <!-- Reservations En Attente -->
        <div class='demo-app-sidebar-section pending-reservations'>
            <h2>Reservations en Attente: {{ pendingReservations.length }}</h2>
        </div>
    
        <!-- Reservations Accepter -->
        <div class='demo-app-sidebar-section accepted-reservations'>
            <h2>Reservations Accepter: {{ acceptedReservations.length }}</h2>
        </div>
    
        <!-- Reservations Refuser -->
        <div class='demo-app-sidebar-section refused-reservations'>
            <h2>Reservations Refuser: {{ refusedReservations.length }}</h2>
        </div>
    </div>
    
</div>


    <!-- Main Content -->
    <div class='demo-app-main'>
        <!-- FullCalendar -->
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
                <b>{{ arg . timeText }}</b>
                <i>{{ arg . event . title }}</i>
            </ng-template>
        </full-calendar>

        <!-- Modal -->
        <!-- Modal -->
        <div class="modal" id="calendarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Réserver</h5>
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #reservationForm="ngForm" (ngSubmit)="saveReservation(reservationForm)">
                            <div class="form-group">
                                <label for="vehicleSelect">Voiture</label>
                                <div class="select-wrapper">
                                    <select class="form-control" id="vehicleSelect" [(ngModel)]="selectedVehicleId"
                                        name="selectedVehicleId" required>
                                        <option value="">--Please choose an option--</option>

                                        <option *ngFor="let vehicle of unavailableVehicles" [value]="vehicle.id">
                                            {{ vehicle . marque }} - {{ vehicle . modele }}
                                        </option>
                                    </select>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startDate">Date début</label>
                                <input type="date" class="form-control" id="startDate"
                                       [(ngModel)]="reservation.startDate" name="startDate" required
                                       [min]="getCurrentDate()">
                            </div>
                            <div class="form-group">
                                <label for="endDate">Date fin</label>
                                <input type="date" class="form-control" id="endDate"
                                       [(ngModel)]="reservation.endDate" name="endDate" required
                                       [min]="reservation.startDate | date:'yyyy-MM-dd'">
                            </div>
                            
                            <div class="form-group">
                                <label for="userSelect">Conducteur</label>
                                <div class="select-wrapper">
                                    <select class="form-control" id="userSelect" [(ngModel)]="selectedUserId"
                                        name="selectedUserId" required>
                                        <option value="">--Please choose an option--</option>

                                        <option *ngFor="let user of conducteurUsers" [ngValue]="user.id">
                                            {{ user . firstName }} {{ user . lastName }} ({{ user . username }})
                                        </option>
                                    </select>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mission">Mission</label>
                                <textarea class="form-control" id="mission" rows="3" [(ngModel)]="reservation.mission" name="mission" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="distiantion">distiantion</label>
                                <input type="text" class="form-control" [(ngModel)]="reservation.distiantion"  name="distiantion" required  >
                            </div>
                            <div class="form-group">
                                <label for="accompagnateur">accompagnateur</label>
                                <input type="text" class="form-control" [(ngModel)]="reservation.accompagnateur"  name="accompagnateur">
                            </div>
                            <div class="form-group">
                                <label for="montant">Montant</label>
                                <input type="number" class="form-control" id="montant" [(ngModel)]="reservation.montant" name="montant" required>
                            </div>
                            <div class="modal-footer">

                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <!-- Button to trigger modal -->

    </div>

</div>
