<h2 mat-dialog-title>Vehicle Details</h2>
<div mat-dialog-content>

  

<br>
  <mat-form-field>
    <input class="form-control" matInput placeholder="Marque" [(ngModel)]="updatedVehicle.marque">
  </mat-form-field> 
  <br>
  <mat-label>Modèle :</mat-label>
  <br>
  <mat-form-field>
  
    <input matInput   class="form-control"placeholder="Modèle" [(ngModel)]="updatedVehicle.modele">
  </mat-form-field>
  <br>
  <mat-label>Matricule</mat-label>
  <br>

  <mat-form-field>
  
    <input matInput  class="form-control" placeholder="Matricule" [(ngModel)]="updatedVehicle.matricule">
  </mat-form-field>
  


  <br>
  <mat-label>Année</mat-label>
  <br>
  <mat-form-field>
    <mat-label>Année</mat-label>
    <input matInput  class="form-control" type="number" placeholder="Année" [(ngModel)]="updatedVehicle.annee">
  </mat-form-field>
  

  <br>
  <mat-label>Numéro de série</mat-label>
  <br>
  <mat-form-field>
    <mat-label>Numéro de série</mat-label>
    <input matInput  class="form-control" placeholder="Numéro de série" [(ngModel)]="updatedVehicle.numeroSerie">
  </mat-form-field>
  
  <br>
  <mat-label>Kilométrage</mat-label>
  <br>
  <mat-form-field>
    <mat-label>Kilométrage</mat-label>
    <input matInput  class="form-control" type="number" placeholder="Kilométrage" [(ngModel)]="updatedVehicle.kilometrage">
  </mat-form-field>
  

  <!-- Add more input fields for other details as needed -->
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="updateVehicle()">Update</button>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>
