<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Vehicle</button>

<br>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Vehicle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #vehicleForm="ngForm">
                <div class="form-group">
                    <label for="marque">Marque:</label>
                    <input type="text" class="form-control" id="marque" [(ngModel)]="vehicle.marque" name="marque" required>
                    <div *ngIf="vehicleForm.controls['marque'].invalid && (vehicleForm.controls['marque'].dirty || vehicleForm.controls['marque'].touched)" class="text-danger">
                      Marque is required
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="modele">Modèle:</label>
                    <input type="text" class="form-control" id="modele" [(ngModel)]="vehicle.modele" name="modele" required>
                    <div *ngIf="vehicleForm.controls['modele'].invalid && (vehicleForm.controls['modele'].dirty || vehicleForm.controls['modele'].touched)" class="text-danger">
                      Modèle is required
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="annee">Année:</label>
                    <input type="number" class="form-control" id="annee" [(ngModel)]="vehicle.annee" name="annee" required>
                    <div *ngIf="vehicleForm.controls['annee'].invalid && (vehicleForm.controls['annee'].dirty || vehicleForm.controls['annee'].touched)" class="text-danger">
                      Année is required
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="numeroSerie">Numéro de série:</label>
                    <input type="text" class="form-control" id="numeroSerie" [(ngModel)]="vehicle.numeroSerie" name="numeroSerie" required>
                    <div *ngIf="vehicleForm.controls['numeroSerie'].invalid && (vehicleForm.controls['numeroSerie'].dirty || vehicleForm.controls['numeroSerie'].touched)" class="text-danger">
                      Numéro de série is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="statut">Statut:</label>
                    <input type="text" class="form-control" id="statut" [(ngModel)]="vehicle.statut" name="statut" required>
                    <div *ngIf="vehicleForm.controls['statut'].invalid && (vehicleForm.controls['statut'].dirty || vehicleForm.controls['statut'].touched)" class="text-danger">
                      Statut is required
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="localisation">Localisation:</label>
                    <input type="text" class="form-control" id="localisation" [(ngModel)]="vehicle.localisation" name="localisation" required>
                    <div *ngIf="vehicleForm.controls['localisation'].invalid && (vehicleForm.controls['localisation'].dirty || vehicleForm.controls['localisation'].touched)" class="text-danger">
                      Localisation is required
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="kilometrage">Kilométrage:</label>
                    <input type="number" class="form-control" id="kilometrage" [(ngModel)]="vehicle.kilometrage" name="kilometrage" required>
                    <div *ngIf="vehicleForm.controls['kilometrage'].invalid && (vehicleForm.controls['kilometrage'].dirty || vehicleForm.controls['kilometrage'].touched)" class="text-danger">
                      Kilométrage is required
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="historiqueReservation">Historique de réservation:</label>
                    <input type="text" class="form-control" id="historiqueReservation" [(ngModel)]="vehicle.historiqueReservation" name="historiqueReservation" required>
                    <div *ngIf="vehicleForm.controls['historiqueReservation'].invalid && (vehicleForm.controls['historiqueReservation'].dirty || vehicleForm.controls['historiqueReservation'].touched)" class="text-danger">
                      Historique de réservation is required
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="type">Type:</label>
                    <input type="text" class="form-control" id="type" [(ngModel)]="vehicle.type" name="type" required>
                    <div *ngIf="vehicleForm.controls['type'].invalid && (vehicleForm.controls['type'].dirty || vehicleForm.controls['type'].touched)" class="text-danger">
                      Type is required
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="disponibilite" [(ngModel)]="vehicle.disponibilite" name="disponibilite">
                      <label class="form-check-label" for="disponibilite">Disponibilité:</label>
                    </div>
                  </div>
              </form>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="addVehicle()" [disabled]="vehicleForm.invalid">Add Vehicle</button>
        </div>
      </div>
    </div>
  </div>
          <div class="card p-4 rounded-5 mb25">

    <table *ngIf="vehicles && vehicles.length > 0" class="table de-table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>annee</th>
        <th>disponibilite</th>
        <th>kilometrage</th>
        <th>historique_reservation</th>
        <th>action</th>
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.marque }}</td>
        <td>{{ vehicle.modele }}</td>

        <td>{{ vehicle.annee }}</td>
        <td>{{ vehicle.disponibilite }}</td>
        <td>{{ vehicle.kilometrage }}</td>
        <td>{{ vehicle.historiqueReservation }}</td>
        <!-- Add more table cells as needed -->
        <td>
          <button mat-icon-button color="primary" (click)="openUpdate(vehicle)" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteVehicle(vehicle.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDetailsModal(vehicle)">
            <mat-icon>visibility</mat-icon> <!-- Use the appropriate icon for details -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
        </div>

