<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Vehicle</button>

<br>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Vehicle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()">
          <div class="form-group">
            <label for="marque">Marque:</label>
            <input type="text" class="form-control" id="marque" formControlName="marque" required>
            <div
              *ngIf="vehicleForm.get('marque')?.invalid && (vehicleForm.get('marque')?.dirty || vehicleForm.get('marque')?.touched)"
              class="text-danger">
              Marque is required
            </div>
          </div>

          <div class="form-group">
            <label for="matricule">Matricule:</label>
            <input type="text" class="form-control" id="matricule" formControlName="matricule" required>
            <div
              *ngIf="vehicleForm.get('matricule')?.invalid && (vehicleForm.get('matricule')?.dirty || vehicleForm.get('matricule')?.touched)"
              class="text-danger">
              Matricule is required
            </div>
          </div>

          <div class="form-group">
            <label for="modele">Modèle:</label>
            <input type="text" class="form-control" id="modele" formControlName="modele" required>
            <div
              *ngIf="vehicleForm.get('modele')?.invalid && (vehicleForm.get('modele')?.dirty || vehicleForm.get('modele')?.touched)"
              class="text-danger">
              Modèle is required
            </div>
          </div>

          <div class="form-group">
            <label for="annee">Année:</label>
            <input type="number" class="form-control" id="annee" formControlName="annee" [attr.min]="1886"
              [attr.max]="currentYear">
            <div
              *ngIf="vehicleForm.get('annee')?.errors?.['required'] && (vehicleForm.get('annee')?.dirty || vehicleForm.get('annee')?.touched)"
              class="text-danger">
              Année is required
            </div>
            <div
              *ngIf="vehicleForm.get('annee')?.errors?.['min'] && (vehicleForm.get('annee')?.dirty || vehicleForm.get('annee')?.touched)"
              class="text-danger">
              Année must be at least 1886
            </div>
            <div
              *ngIf="vehicleForm.get('annee')?.errors?.['max'] && (vehicleForm.get('annee')?.dirty || vehicleForm.get('annee')?.touched)"
              class="text-danger">
              Année cannot be in the future
            </div>
          </div>

          <div class="form-group">
            <label for="numeroSerie">Numéro de série:</label>
            <input type="text" class="form-control" id="numeroSerie" formControlName="numeroSerie" required>
            <div
              *ngIf="vehicleForm.get('numeroSerie')?.invalid && (vehicleForm.get('numeroSerie')?.dirty || vehicleForm.get('numeroSerie')?.touched)"
              class="text-danger">
              Numéro de série is required
            </div>
          </div>

          <div class="form-group">
            <label for="kilometrage">Kilométrage:</label>
            <input type="number" class="form-control" id="kilometrage" formControlName="kilometrage" required>
            <div
              *ngIf="vehicleForm.get('kilometrage')?.invalid && (vehicleForm.get('kilometrage')?.dirty || vehicleForm.get('kilometrage')?.touched)"
              class="text-danger">
              Kilométrage is required
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="vehicleForm.invalid">Add
              Vehicle</button>
          </div>
        </form>


      </div>

    </div>
  </div>
</div>
<div class="card p-4 rounded-5 mb25">

  <table *ngIf="vehicles && vehicles.length > 0" class="table de-table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Marque</th>
        <th>Matriule</th>
        <th>Modèle</th>
        <th>annee</th>
        <th>disponibilite</th>
        <th>kilometrage</th>
        <th>action</th>
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.marque }}</td>
        <td>{{ vehicle.matricule }}</td>

        <td>{{ vehicle.modele }}</td>
        <td>{{ vehicle.annee }}</td>
        <td>{{ vehicle.disponibilite }}</td>
        <td>{{ vehicle.kilometrage }}</td>
        <!-- Add more table cells as needed -->
        <td>
          <button mat-icon-button color="primary" (click)="openUpdate(vehicle)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteVehicle(vehicle.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDetailsModal(vehicle)">
            <mat-icon>visibility</mat-icon> <!-- Use the appropriate icon for details -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!(vehicles && vehicles.length > 0)" class="text-center mt-4">
    <p>Aucun véhicule trouvé.</p>
  </div>
</div>