

        <div class="row">
            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'CHEF_DEPARTEMENT'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa fa-car fa-2x id-color"></i>
                    </div>
                    <span class="h1 mb0">{{ pendingReservations.length  }}</span>
                    <span class="text-gray">Reservations en Attente</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'CHEF_DEPARTEMENT'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa fa-car fa-2x id-color"></i>
                    </div>
                    <span class="h1 mb0">{{ acceptedReservations.length  }}</span>
                    <span class="text-gray">Reservations Accepter</span>
                </div>
            </div>


            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'CHEF_DEPARTEMENT'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa fa-car fa-2x id-color"></i>
                    </div>
                    <span class="h1 mb0">{{ refusedReservations.length  }}</span>
                    <span class="text-gray">Reservations Refuser</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'CONDUCTEUR'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fas fa-gas-pump fa-2x id-color"></i> <!-- Update the icon to a gas pump icon -->
                    </div>
                    <span class="h1 mb0">{{ carburantsCount }}</span>
                    <span class="text-gray">Total de carburant</span> <!-- Update the text to "Total de carburant" -->
                </div>
            </div>
            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'CONDUCTEUR'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fas fa-file-alt fa-2x id-color"></i>
                    </div>
                    <span class="h1 mb0">{{ reportCount }}</span>
                    <span class="text-gray">Total rapports</span>
                </div>
            </div>




            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'ADMIN'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fas fa-gas-pump fa-2x id-color"></i> <!-- Update the icon to a gas pump icon -->
                    </div>
                    <span class="h1 mb0">{{ CarburantsCountNoUserId }}</span>
                    <span class="text-gray">Total de carburant</span> <!-- Update the text to "Total de carburant" -->
                </div>
            </div>
            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'ADMIN'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fas fa-file-alt fa-2x id-color"></i>
                    </div>
                    <span class="h1 mb0">{{ reportCountNoUserId }}</span>
                    <span class="text-gray">Total rapports</span>
                </div>
            </div>
                        

            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'ADMIN'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-car"></i>
                    </div>
                    <span class="h1 mb0">{{ vehicleCount }}</span>
                    <span class="text-gray">Total voitures</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'ADMIN'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-calendar"></i>
                    </div>
                    <span class="h1 mb0">{{ reservationCount }}</span>
                    <span class="text-gray">Total Réservations</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 mb25 order-sm-1" *ngIf="role === 'ADMIN'">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-tags"></i>
                    </div>
                    <span class="h1 mb0">{{usersCount}}</span>
                    <span class="text-gray">total utilisateurs</span>
                </div>
            </div>

          

          
        </div>

        <div class="card p-4 rounded-5 mb25">

            <canvas #chart></canvas>
        </div>
      
        <div class="card p-4 rounded-5 mb25">

            <canvas #carburantsChart></canvas>
        </div>
