.avatar-placeholder {
    height: 60px;
    background-color: #ccc; // Set the background color
    border-radius: 50%; // Make it circular
    display: flex;
    justify-content: center; // Center the text horizontally
    align-items: center; // Center the text vertically
    font-size: 24px; // Adjust the font size as needed
    color: #fff; // Set the text color
  }

  .card1 {
    width: 450px; // Réglez la largeur de la carte selon vos besoins
    height: 450px; // Réglez la hauteur de la carte selon vos besoins
  
    canvas {
      width: 100%; // Pour assurer que le canvas utilise toute la largeur disponible
      height: 100%; // Pour assurer que le canvas utilise toute la hauteur disponible
    }
  }
  