<div id="preloader" class="preloader">
    <div class='inner'>
        <div class='line1'></div>
        <div class='line2'></div>
        <div class='line3'></div>
    </div>
</div>
<section class="fxt-template-animation fxt-template-layout33">
    <div class="fxt-content-wrap">
        <div class="fxt-heading-content">
            <div class="fxt-inner-wrap fxt-transformX-R-50 fxt-transition-delay-3">
                <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                    <a href="login-33.html" class="fxt-logo"><img
                            src="assets/OTH000_3855501c-446d-4508-9450-62022cf9589f_b.jpg" alt="Logo"></a>
                </div>
                <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                    <div class="fxt-middle-content">
                        <div class="fxt-sub-title">Welcome to</div>
                        <h1 class="fxt-main-title">We're a Digital Agency.</h1>
                        <p class="fxt-description">We are glad to see you again! Get access to your Orders, Wishlist and
                            Recommendations.</p>
                    </div>
                </div>
                <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                    <div class="fxt-switcher-description">Don't have an account?<a routerLink="/auth/login"
                            class="fxt-switcher-text">Sign In</a></div>
                </div>
            </div>
        </div>
        <div class="fxt-form-content">
            <div class="fxt-main-form">
                <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">
                    <h2 class="fxt-page-title">Reset Password</h2>
                    <p class="fxt-description">Enter the email address or mobile number associated with your account.
                    </p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="password" class="fxt-label">Password</label>
                            <input type="password" formControlName="password" id="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form.get('password')?.errors }" />
                            <div *ngIf="submitted && form.get('password')?.errors" class="invalid-feedback">
                                <div *ngIf="form.get('password')?.errors?.['required']">password is required</div>
                                <div *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>

                            </div>
                        </div>
                         <div class="form-group">
                            <label for="password" class="fxt-label">Confirm Password</label>
                            <input type="password" formControlName="pwd" id="pwd" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form.get('pwd')?.errors }" />
                            <div *ngIf="submitted && form.get('pwd')?.errors" class="invalid-feedback">
                                <div *ngIf="form.get('pwd')?.errors?.['required']">password is required</div>
                                <div *ngIf="form.get('pwd')?.errors?.['mustMatch']"> Passwords must match</div>

                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="fxt-btn-fill" [disabled]="!form.valid">Continue</button>
                        </div>
                    </form>
                    
                    
                    <div class="fxt-switcher-description">Return to?<a routerLink="/auth/login"
                            class="fxt-switcher-text ms-1">Log in</a></div>
                </div>
            </div>
        </div>
    </div>
</section>