<div class="fxt-main-form">
    <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">
        <h2 class="fxt-page-title">Réinitialisation du mot de passe</h2>
        <p class="fxt-description">Entrez l'adresse e-mail ou le numéro de téléphone portable associé à votre compte.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password" class="fxt-label">Mot de passe</label>
                <input type="password" formControlName="password" id="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.get('password')?.errors }" />
                <div *ngIf="submitted && form.get('password')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('password')?.errors?.['required']">Le mot de passe est requis</div>
                    <div *ngIf="form.get('password')?.errors?.['minlength']">Le mot de passe doit comporter au moins 8 caractères</div>
                </div>
            </div>
             <div class="form-group">
                <label for="password" class="fxt-label">Confirmer le mot de passe</label>
                <input type="password" formControlName="pwd" id="pwd" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.get('pwd')?.errors }" />
                <div *ngIf="submitted && form.get('pwd')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('pwd')?.errors?.['required']">Le mot de passe est requis</div>
                    <div *ngIf="form.get('pwd')?.errors?.['mustMatch']"> Les mots de passe doivent correspondre</div>
                </div>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="fxt-btn-fill" [disabled]="!form.valid">Continuer</button>
            </div>
        </form>
        
        
        <div class="fxt-switcher-description">Retour à ? <a routerLink="/auth/login"
                class="fxt-switcher-text ms-1">Se connecter</a></div>
    </div>
</div>
