@import "src/assets/styles/shared";


.board-container {
  background-color: white;
  color: $dark-blue;
  border: 1px solid $dark-blue;
  transition: color 0.3s ease;
  height: 70px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;

  &:hover {
    background-color: $dark-blue;
    color: white;
    border: none;
  }
}

.board-icon {
  transform: scale(0.7);
  cursor: pointer;

  &:hover {
    color: $mustard-yellow;
  }
}

.board-name {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.board-date {
  font-size: 11px;
  margin-top: 10px;
}
