<div class="card p-7 rounded-1 mb25">
  <table *ngIf="users && users.length > 0" class="table de-table table-bordered">
    <!-- Table header -->
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Statut</th>
        <th>Nom d'utilisateur</th>
        <th>Rôle</th>
        <th>Actions</th>
        <th>changer role</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr *ngFor="let user of users">
        <!-- User data -->
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <!-- Status -->
          <span [ngClass]="{
            'text-success': user.status === true,
            'text-danger': user.status === false,
            'text-muted': user.status === null
          }">
            <ng-container *ngIf="user.status !== null">
              <i class="fa fa-check-circle" *ngIf="user.status"></i>
              <i class="fa fa-times-circle" *ngIf="!user.status"></i>
            </ng-container>
            <i class="fa fa-question-circle" *ngIf="user.status === null"></i>
          </span>
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
          <!-- Actions -->
          <ng-container *ngIf="user.status === null;">
            <button class="btn btn-success" title="Accepter" (click)="acceptUser(user)">
              <i class="fa fa-check"></i>
            </button>
            <button class="btn btn-danger" title="Rejeter" (click)="rejectUser(user)">
              <i class="fa fa-times"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="user.status === false;">
            <span class="text-danger">Accès refusé</span>
          </ng-container>
          <ng-container *ngIf="user.status === true">
            <span class="text-success">Accès accordé</span>
          </ng-container>

          <!-- Change role buttons -->
          <!-- Modal -->
          <!-- Modal -->
          <div class="modal fade" [id]="'roleChangeModal' + user.id" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Change Role pour {{user.firstName }} {{user.lastName}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="newRole{{user.id}}" class="form-label">New Role</label>
                    <select class="form-select" id="newRole{{user.id}}" #newRoleInput>
                      <option value="CHEF_DEPARTEMENT">Chef de Département</option>
                      <option value="CONDUCTEUR">Conducteur</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="changeRole(user.id, newRoleInput.value)" data-bs-dismiss="modal">Save
                    changes</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <ng-container *ngIf="user.status !== null;">

            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              [attr.data-bs-target]="'#roleChangeModal' + user.id">
              <i class="fa fa-pencil"></i>
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-center" *ngIf="!users || users.length === 0">Aucun utilisateur trouvé</p>
</div>