<header class="transparent scroll-light has-topbar" [ngClass]="{ 'fixed-header': isScrolled }">
  <div id="topbar" class="topbar-dark text-light">
    <div class="container">
      <div class="topbar-left xs-hide">
        <!-- Topbar content for contact information -->
      </div>
      <div class="topbar-right">
        <!-- Social icons -->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="de-flex sm-pt10">
          <div class="de-flex-col">
            <!-- Logo -->
            <div id="logo">
              <a href="index.html">
                <img class="logo-1" src="assets/logo-removebg-preview.png" style="height: 100px; width: 200px;" alt="">
              </a>
            </div>
            <!-- End Logo -->
          </div>

          <!-- Notification Section for ADMIN -->
          <div class="de-flex-col" *ngIf="role === 'ADMIN'">
            <div class="menu_side_area">
              <div class="de-login-menu">
                <div class="notification-icon" (mouseenter)="showNotifications()" (mouseleave)="hideNotifications()"      [ngClass]="{'new-notification': hasNewNotification && showNotificationList}">
                 
                  <i class="fa fa-bell fa-lg"></i>
                  <span class="notification-count">{{ notificationCount }}</span>
                  <!-- Notification list for ADMIN -->
                  <div *ngIf="role === 'ADMIN' && showNotificationList" class="notification-list">
                    <!-- Check if notifications exist -->
                    <div *ngIf="notifications.length > 0; else noNotifications">
                      <div *ngFor="let notification of notifications" class="notification-item">
                        <div class="notification-item-content" [ngClass]="{'new-notification': notification.isNew}">
                          <div class="delete-btn" (click)="deleteNotification(notification.id)">
                            <i class="fa fa-trash text-danger"></i> <!-- Font Awesome trash icon with red color -->
                          </div>
                          <img *ngIf="notification.imageUrl" [src]="notification.imageUrl" alt="Notification Image"
                            class="notification-img">
                          <div class="notification-content">
                            <span class="notification-message">{{ notification.message }}</span>
                            <span class="notification-chef" *ngIf="notification.chefDepartement">
                              Chef Departement {{ notification.chefDepartement }}
                            </span>
                            <span class="notification-chef" *ngIf="!notification.chefDepartement">
                              User {{ notification.username }}
                            </span>
                            <div>{{ notification.timestamp | timeAgo }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- If no notifications, show message in French -->
                    <ng-template #noNotifications>
                      <div class="notification-item">
                        <span>Pas de notifications</span>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <span id="menu-btn"></span>
              </div>
            </div>
          </div>

          <!-- Notification Section for CHEF_DEPARTEMENT -->
          <div class="de-flex-col" *ngIf="role === 'CHEF_DEPARTEMENT' || role === 'CONDUCTEUR'">
            <div class="menu_side_area">
              <div class="de-login-menu">
                <div class="notification-icon" (mouseenter)="showNotifications()" (mouseleave)="hideNotifications()">
                  <i class="fa fa-bell fa-lg"></i>
                  <span class="notification-count">{{ notificationCountuser }}</span>
                  <!-- Notification list for CHEF_DEPARTEMENT -->
                  <div *ngIf="(role === 'CHEF_DEPARTEMENT' || role === 'CONDUCTEUR') && showNotificationList"
                    class="notification-list">
                    <!-- Check if user notifications exist -->
                    <div *ngIf="userNotifications.length > 0; else noUserNotifications">
                      <div *ngFor="let notification of userNotifications" class="notification-item">
                        <div class="notification-item-content">
                          <div class="delete-btn" (click)="deleteNotification(notification.id)">
                            <i class="fa fa-trash text-danger"></i> <!-- Font Awesome trash icon with red color -->
                          </div>
                          <img *ngIf="notification.imageUrl" [src]="notification.imageUrl" alt="Notification Image"
                            class="notification-img">
                          <div class="notification-content">
                            <span class="notification-message">  <span class="value" [innerHTML]="notification.message | newline"></span> </span>
                            <span class="notification-chef" *ngIf="notification.chefDepartement">
                              Chef Departement {{ notification.chefDepartement }}
                            </span>
                            <span class="notification-chef" *ngIf="!notification.chefDepartement">
                              User {{ notification.username }}
                            </span>
                            <div>{{ notification.timestamp | timeAgo }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- If no user notifications, show message in French -->
                    <ng-template #noUserNotifications>
                      <div class="notification-item">
                        <span>Pas de notifications</span>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <span id="menu-btn"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>