.reservation-details {
    padding: 20px;

    .detail-item {
        margin-bottom: 10px;
        display: flex;

        .label {
            font-weight: bold;
            width: 150px;
            color: #555;
        }

        .value {
            flex-grow: 1;
        }
    }
}
