<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>About OneTech</h5>
                    <p>OneTech Group is a global industrial player operating in the automotive, energy and industry sectors. With 40 years of expertise in the cable, mechatronics and ICT sectors, we support our customers as a reliable technology partner.</p>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="widget">
                    <h5>Contact Info</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>16, Rue des Entrepreneurs.
                            2035 Charguia II
                            Tunis – Tunisie</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>(+216) 39 140 000</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact.onetech@onetech-group.com">contact.onetech@onetech-group.com</a></span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
               
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Social Network</h5>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100063876420454"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://tn.linkedin.com/company/onetech-b-s"><i class="fa fa-linkedin fa-lg"></i></a>
                     
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a >
                                OneTech Group © All Rights Reserved                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>