<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conducteur</title>

</head>
<div *ngIf="loading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
  
<body *ngIf="!loading">
    <div id="wrapper">
        <app-header></app-header>
        <a href="#" id="back-to-top"></a>
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            <br>
            <br>
            <section id="section-cars" class="bg-gray-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mb30">
                            <div class="card p-4 rounded-5">
                                <div class="profile_avatar">
                                    <div *ngIf="imageUrl" class="profile_img">
                                        <img [src]="imageUrl" alt="">
                                    </div>
                                    <div *ngIf="!imageUrl && firstName && lastName" class="avatar-container">
                                        <img [src]="generateAvatarSrc(firstName, lastName)" alt="">
                                    </div>

                                    <div class="profile_name">
                                        <h4>
                                            {{ role === 'CHEF_DEPARTEMENT' ? 'CHEF DEPARTEMENT' : role }}: {{ firstName }} {{ lastName }}
                                            <span class="profile_username text-gray">({{ email }})</span>
                                        </h4>
                                    </div>
                                    
                                </div>
                                <div class="spacer-20"></div>
                                <ul class="menu-col">
                                    <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-home"></i>Tableau de bord</a></li>
                                    <li><a routerLink="/profile" routerLinkActive="active"><i class="fa fa-user"></i>Mon profil</a></li>
                                    <li *ngIf="role === 'ADMIN'"><a routerLink="/vehicule" routerLinkActive="active"><i class="fa fa-car"></i>Véhicules</a></li>
                                    <li *ngIf="role === 'ADMIN'"><a routerLink="/utilisateurs" routerLinkActive="active"><i class="fa fa-user"></i>Utilisateurs</a></li>
                                    <li *ngIf="role === 'CHEF_DEPARTEMENT'"><a routerLink="/calendrier" routerLinkActive="active"><i class="fa fa-calendar"></i>Calendrier</a></li>
                                    <li *ngIf="role === 'ADMIN'"><a routerLink="/reservation" routerLinkActive="active"><i class="fa fa-calendar"></i>Réservations</a></li>
                                    <li *ngIf="role === 'CONDUCTEUR'"><a routerLink="/CarburantConducteur" routerLinkActive="active"><i class="fa fa-calendar"></i>Réservations</a></li>

                                    <li>
                                        <a (click)="logout()">
                                            <i class="fa fa-sign-out"></i>Déconnexion
                                        </a>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="col-lg-9">
                                                
                                    <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>

            </section>

        </div>
        <app-footer></app-footer>
    </div>

</body>

</html>