.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; // Ensure the spinner is above other content
  }
  #content {
    background: #f6f6f6;
}